# Mining Configuration
BLOCKPRODUCTIONDELAY=<Specify delay in seconds>
MINERENABLED=1
NBITS=<Your minimum difficulty value>
PRIVKEY=<Your private key for Signet, if available>
MINETO=<Your mining address, if available>
SIGNETCHALLENGE=<Your Signet challenge>

# RPC Configuration
RPCUSER=bitcoin
RPCPASSWORD=bitcoin

UACOMMENT=CustomSignet

# ZMQ Configuration
ZMQPUBRAWBLOCK=tcp://0.0.0.0:28332
ZMQPUBRAWTX=tcp://0.0.0.0:28333
ZMQPUBHASHBLOCK=tcp://0.0.0.0:28334

# Additional Configuration
RPCBIND=0.0.0.0:38332
RPCALLOWIP=0.0.0.0/0
WHITELIST=0.0.0.0/0
ADDNODE=<Add node IP, if applicable>
EXTERNAL_IP=<Your external IP, if applicable>
